.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #F5C417 !important;
  }

  .btn_yellow, .btn_yellow:hover, .btn_yellow:active, .btn_yellow:visited {
    background-color: #F5C417 !important;
    width: 40%;
  }

  .premium_badge {
    background-color: #874df3 !important;
    color: white !important;
  }

  .default_badge {
    background-color: #f34d84 !important;
    color: white !important;
  }

  .ad_badge {
    background-color: #EE4423 !important;
    color: white !important;
  }

  .input_default {
    background-color: #F5C417 !important;
    border: 3px solid black !important;
    border-radius: 7px !important;
  }