.img_logo {
    color: black;
    position: absolute;
    right: 13.3em;
    bottom: -33%;
  }

.centered_bar {
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.navbar_brand {
    background-color: #F5C417;
    border-radius: 15%;
    width: 70px;
    height: 70px;
    text-align: center;
}

.item_spacing {
    margin-left: 15px;
}

.item_holder {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.item_icon {
    
}

.display_flex {
    display: inline-flex;
}

.dropdown_basic::after {
    display: none !important;
}

.dropdown_no_padding {
    padding: 0 !important;
}