.img_logo {
    color: black;
    position: absolute;
    right: 13.3em;
    bottom: -33%;
}

.centered_bar {
    margin-left: 20px;
    align-items: center;
    display: flex;
}

.navbar_brand {
    background-color: #F5C417;
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Deuteranomalia"] {
    background-color: hwb(56 20% 6%);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Protanomalia"] {
    background-color: hwb(76 25% 1%);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Protanopia"] {
    background-color: hwb(56 20% 6%);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Deuteranopia"] {
    background-color: #e0b642;
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Tritanomalia"] {
    background-color: rgb(252,188,127);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Tritanopia"] {
    background-color: rgb(252,163,169);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.navbar_brand[color-theme="Total"] {
    background-color: rgb(199, 199, 199);
    border-radius: 15%;
    width: 64px;
    height: 64px;
    text-align: center;
}

.alertbadge {
    background-color: rgb(212, 14, 14) !important;
}

.alertbadge[color-theme="Deuteranomalia"] {
    background-color: rgb(149, 14, 212) !important;
}

.alertbadge[color-theme="Protanomalia"] {
    background-color: rgb(137, 69, 214) !important;
}

.alertbadge[color-theme="Protanopia"] {
    background-color: rgb(44, 53, 182) !important;
}

.alertbadge[color-theme="Deuteranopia"] {
    background-color: rgb(44, 53, 182) !important;
}

.alertbadge[color-theme="Tritanomalia"] {
    background-color: rgb(235,70,112) !important;
}

.alertbadge[color-theme="Tritanopia"] {
    background-color: #ff4693 !important;
}

.alertbadge[color-theme="Total"] {
    background-color: #414141 !important;
}

.dropdown_large {
    width: 710% !important;

}

.dropdown_avatar {
    float: left;
    min-width: 64px;
    min-height: 64px;
}

.btn_border {
    border: 2px solid black;
    transition: border .2s
}

.btn_nohover:hover {
    background-color: white !important;
    color: black !important;
    transition: border .2s;
}

.item_spacing {
    margin-left: 15px;
}

.item_holder {
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.item_icon {
    mix-blend-mode: darken
}

.display_flex {
    display: inline-flex;
}

.dropdown_basic::after {
    display: none !important;
}

.dropdown_basic::before {
    display: none !important;
}

.dropdown_no_padding {
    padding: 0 !important;
}