.show_on_sm {
    display: none;
}

@media (max-width: 755px) {
    .hide_on_sm {
        display: none !important;
    }

    .center_on_sm {
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .show_on_sm {
        display: block;
    }

    .badge_on_sm {
        width: 12px;
        height: 12px;
        font-size: 7.5px;
    }

    .prelative_on_sm {
        position: relative !important;
        right: 0;
        bottom: 0;
        display: block;
    }
    .center_about {
        display: inline-flex;
        justify-content: center;
        text-align: center;
    }
    .w170f_on_sm {
        width: 170px !important;
        height: 170px !important;
    }
    .w25_on_sm {
        width: 25% !important;
    }
    .w50_on_sm {
        width: 50% !important;
    }
    .w75_on_sm {
        width: 75% !important;
    }
    .w100_on_sm {
        width: 100% !important;
    }
    .dblock_on_sm {
        display: block !important;
    }
    .no_ms_on_sm {
        margin-left: 0 !important;
    }
    .m25l_on_sm {
        margin-left: 25% !important;
    }
    .p1em_on_sm {
        padding: 1em 0 !important;
    }
}

@media (min-width: 900px) {
    .smaller_on_lg {
        width: 30% !important;
    }

    .smaller_25_on_lg {
        width: 25% !important;
    }

    .w25_on_lg {
        width: 25% !important;
    }
}

@media (min-width: 1530px) {
    .smaller_25_on_lg {
        width: 18% !important;
    }
}